bin
.metadata
*.pyc
__pycache__
/.idea
*.json
*.ini
*.log
.project
.pydevproject
*.yml
# include issue branch workflows
!.github/workflows/issue-tracker.yml
!.github/issue-branch.yml

*.yaml

# pip install #
#####################
*.egg-info/
*.egg/
*.eggs
dist
*.pypirc
build

# PyCharm #
#####################
.idea
.cache
venv

# Unittest #
#####################
.pytest_cache
/filip.egg-info/
/tests/.env

#filip-development
/filip/external_resources/unece-units-of-measure.hdf
/external_resources/

/examples/ngsi_v2/data_models/
/tests/semantics/models.py
/tests/semantics/models2.py
