bin
.metadata
*.pyc
__pycache__
/.idea
*.json
*.ini
*.log
.project
.pydevproject

*.yml
# include issue branch workflows
!.github/workflows/issue-tracker.yml
!.github/issue-branch.yml

*.yaml

# pip install #
#####################
*.egg-info/
*.egg/
*.eggs
dist
*.pypirc
build

# PyCharm #
#####################
.idea
.cache
venv

# Unittest #
#####################
.pytest_cache
/filip.egg-info/
/tests/.env

#filip-development
secrets-tst.json

/filip/external_resources/unece-units-of-measure.hdf
/external_resources/
/playground.py
/playground_2.py


/docs/diagrams/src/clients.wsd
