requests>=2.23.0
pydantic[dotenv]>=1.8.1
aenum>=3.0.0
pathlib>=1.0.1
regex>=2021.3.17
pytz>=2019.1
fuzzywuzzy>=0.17.0
pandas>=1.2.0
setuptools>=40.6.0
paho-mqtt>=1.5.1
pandas_datapackage_reader>=0.18.0
tables>=3.6.1
python-Levenshtein>=0.12.2
paho-mqtt
filip~=0.1.5
numpy~=1.19.5
rdflib~=6.0.0
dateutil>=2.8.2